body {
  background-color: #fff;
  font-family: 'Montserrat', sans-serif;
  margin: 0px;
}

h1 {
 font-size: 2em;
 color: #0d1520;
}

a {
  color: #0d1520;
  font-weight: 700;
}

.primary {
  color: #7354fc;
}

.list-background {
  background: #F8F8F8;
}

img {
  width: 100%;
}

input {
  height: 40px;
  width: 100%;
}

button {
  padding: 15px;
}

.icon {
  height: 20px;
  width: 20px;
}