body {
  background-color: #fff;
  color: #0d1520;
  font-family: 'Montserrat', sans-serif;
  margin: 0px;
}

h1 {
 font-size: 2em;
}

a {
  font-weight: bold;
  text-decoration: none;
  color: #0d1520;
}