/* input {
	background-color: #edebeb;
	border: 1px solid #e2e2e2;
	border-radius: 4px;
} */

.btn {
	color: #fff;
	font-size: 14px;
	font-weight: 700;
	border-radius: 4px;
	padding: 10px 15px;
	background-color: #7354fc; 
}

.btn-outline {
	border: 2px solid #7354fc;
	background-color: #fff;
	color: #7354fc;
}


/* .small-button {
	border: 2px solid #7354fc;
	border-radius: 4px;
	color: #7354fc;
	font-size: 12px;
	padding: 6px;
	text-decoration: none;
}

.med-button {
	background-color: #fff;
	border: 2px solid #7354fc;
	border-radius: 4px;
	color: #7354fc;
	font-size: 12px;
	padding: 15px;
	text-decoration: none;
}

.nav-link {
	align-items: center;
	display: inline-flex;
	font-size: 12px;
	padding: 14px 16px;
	text-decoration: none;
}

.secondary-link {
  font-weight: normal;
  text-decoration: none;
}

.secondary-link-bold {
  font-weight: 700;
  text-decoration: none;
} */